{{- define "main" -}}
    {{ $length := len . }}
    length {{ $length }}
    {{ range getCategories .  -}}
        category: {{ lower . }}
    {{ end }}

    {{/*
    {{- range getCats .  -}}
        {{ if ne ($char := slice (lower .) 0 1) "s"  }}
            <h1>{{$char}}: {{.}}</h1>
        {{- end }}
    {{- end }}
    */}}
    {{ range getCategories . -}}
        {{- $char := slice (lower . ) 0 1 -}}
        {{- if ne $char "s" -}}
            <h1>{{$char}}:{{.}}</h1>
        {{- end }}
    {{ end }}
{{- end -}}